<div class="container-fluid mt-3 mt-md-5">
  <div class="row" style="height: 60px;">
    <div
      class="col col-sm-12 bg-dark d-flex align-items-center justify-content-center"
    >
      <h6 class="text-white text-center lead">
        Developed by
        <a class="text-primary strong lead" href="http://harshitsaini.com"
          >Harshit Saini</a
        >
      </h6>
    </div>
  </div>
</div>
