<div class="container mt-md-5 mt-3 px-0">
  <div class="card">
    <div class="card-header">
      <h1>India's data</h1>
    </div>
    <div class="card-body p-0">

        <table class="table table-dark m-0"> 
            <tr>
                <td><strong class="text-warning"> Total Cases</strong></td>
                <td><%=  india_data.cases %> </td>
            </tr>
            <tr>
                <td><strong class="text-success"> Total Recovered</strong></td>
                <td><%= india_data.total_recovered  %> </td>
            </tr>
            <tr>
                <td><strong class="text-danger"> Total deaths</strong></td>
                <td><%= india_data.deaths %> </td>
            </tr>
        </table>
    </div>
    <div class="card-footer">
        <p>
            <h6>
                Data may take upto one day to update
            </h6>
        </p>
        <p>
            <h6>
              Note: Although this data is Taken from a trusted source but as the data
              changes frequenty the data can not be 100% acurate.
            </h6>

        </p>
        <p>
            <h6>
                For more info visit: <a class="" href="https://www.who.int/">who.int</a>
            </h6>
        </p>

    </div>
  </div>
</div>
