<div class="container">
  <form action="/api/state" method="GET">
    <select class="form-control" name="state" id="state">
      <% for (element in allStatesData) { %>
      <option value="<%= element  %> "><%= element %> </option>

      <% } %>
    </select>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
