<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/bootstrap-bundle.css" />
    <link rel="stylesheet" href="/css/fontawesome-bundle.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Gotu&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body>
    <%- include("_header") %> <%- body %> <%- include("_footer") %>

    <script src="/js/bootstrap-bundle.js"></script>
  </body>
</html>
